header {
  display: flex;
  margin: 25px;
  justify-content: space-around;
  align-items: center;
  border: 1px black;
}
header img {
  width: 150px;
}
header nav {
  display: none;
}
header nav ul {
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  margin-top: 20px;
}
header nav ul li {
  transition: 1s;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  margin: 20px;
}
header nav ul li a:hover {
  color: rgb(255, 156, 224);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1 {
  color: rgb(255, 139, 159);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  margin: 20px;
  font-style: italic;
}

.InicioContainer {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 60px;
}

.InicioBrindamos-1 {
  background-image: url(https://falabella.scene7.com/is/image/Falabella/gsc_121455815_3046375_1?wid=800&hei=800&qlt=70);
  width: 700px;
  height: 500px;
  opacity: 0.8;
  transform: translate(90px);
  border-radius: 20px;
}

.InicioBrindamos-2 {
  background-color: rgb(247, 162, 176);
  transform: translate(70px, 100px);
  height: 450px;
  width: 400px;
  border-radius: 20px;
}
.InicioBrindamos-2:hover {
  transform: rotate(2deg);
}
.InicioBrindamos-2 img {
  width: 300px;
  transition: 3s;
  margin-left: 35px;
}

h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-stretch: condensed;
  margin: 35px;
  margin-right: 150px;
}

h4 {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

p {
  font-size: 20px;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

.Titulo-Ideas {
  display: flex;
  align-items: center;
  margin: 40px;
}
.Titulo-Ideas img {
  width: 65px;
  height: 60px;
}

.Que-ofrecemos {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  padding: 25px;
  transition: 2s;
}
.Que-ofrecemos span {
  color: rgba(82, 219, 180, 0.938);
}
.Que-ofrecemos .Servicio {
  margin-top: 45px;
  list-style-type: none;
}
.Que-ofrecemos .Servicio:hover {
  background-color: black;
  color: rgba(82, 219, 180, 0.938);
  transition: 0.5s;
}

.BloqueSobreNosotros {
  padding: 40px;
  text-align: center;
}
.BloqueSobreNosotros img {
  width: 250px;
  align-content: center;
  margin: 45px;
}
.BloqueSobreNosotros img:hover {
  transition: 1s;
  transform: scale(1.5);
}
.BloqueSobreNosotros h8 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 55px;
  padding: 20px;
  border: 3px solid rgb(255, 161, 177);
}
.BloqueSobreNosotros h8:hover {
  transition: 1s;
  color: rgb(255, 161, 177);
  font-size: 65px;
  img: url();
}

.Sobrenosotras {
  font-size: 25px;
  text-align: center;
  padding: 25px;
  font-style: italic;
  margin-bottom: 40px;
}

.footer {
  color: rgb(242, 150, 165);
  border-top: 1px solid black;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
}
.footer ul {
  display: flex;
}
.footer ul li {
  list-style-type: none;
  margin-left: 40px;
}
.footer img {
  width: 65px;
  margin: 20px;
}

img {
  width: 110px;
  padding-left: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 920px) {
  header nav {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  h4 {
    font-size: 15px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 15px;
  }
}
@media screen and (max-width: 950px) {
  h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
