
.Ir-a-Instagram{
    
    display: flex;
    justify-content: center;
  

     a{ background-color: rgb(254, 214, 214);
        color: rgb(239, 147, 181);
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 15px;
        border-radius: 5px;
        font-weight: bold;
        margin:15px;

        &:hover{background-color: white;
        border: 3px solid rgba(82, 219, 180, 0.938); ;
        }
    }
}