header{display: flex;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    border: 1px black;
    nav{display: none;
        ul{ 
            list-style-type: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:bolder;
            font-size: 20px;
            display: flex; 
            margin-top: 20px;
            
            li{ transition: 1s;
                a{ text-decoration: none;
                    color: black;
                   margin: 20px;

                &:hover{
                    color: rgb(255, 156, 224);
                    

           }
         }
       }  
     }
  } 
}


